############################
# Python / venv
############################
.venv/
venv/
cicd_venv/
__pycache__/
*.pyc
*.pyo

############################
# dbt
############################
target/
dbt_packages/
logs/

# dbt user profiles (never commit)
profiles.yml

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.vscode/
.idea/

############################
# Env / Secrets
############################
.env
.env.*
*.pem
*.key
